body {
    background-color: lightblue;
    color: white;
    font-size: 21px;
}

div {
    background-color: pink;
    width: 500px;
}

p {
    color: #2f4c5c;
}

h1 {
    font-size: 70px;
    color: #3747b3;
}

span {
    color: white;
    font-size: 40px;
}