* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
}


.container {
    width: 80%;
    height: 50vh;
    margin: auto;
    display: flex;


}

.box2 {
    display: flex;
    flex-direction: column;
}

.box22 {
    display: flex;
}

.box32 {
    display: flex;
    flex-direction: column;
}

.box1 {
    background: purple;
}

.box21 {
    background: aqua;
}

.box31 {
    background: maroon;
}

.box41 {
    background: greenyellow;
}

.box42 {
    background: salmon;
}

.box {
    width: 100%;
    height: 100%;
}
