* {
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}

.deals {
    display: flex;
    width: 610px;
    margin: auto;
    background-color: honeydew;
    padding: 20px;
    /* flex-flow: row wrap; */
    justify-content: space-between;
    flex: 0;
 
}

.sale-item {
    background: lightgoldenrodyellow;
    border: 5px yellow solid;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-flow: column;
}

button {
    margin-top: auto;
}

h1 {
    font-size: medium;
}