* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container-top{
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

ul {
    display: flex;
    margin: 0px;
    padding: 0;
    list-style-type: none;
}

li {
    margin: 0 10px;
}

