* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.header, .information, .quote, .cta, .footer {
    display: flex;
    justify-content: center;
}


.container {
    width: 65%;
    border: 1px solid yellow;
    display: flex;
}



/* NAVIGATION BAR */

.header {
    height: 375px;
}

.header .container {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
}

.nav li {
    margin: 0 10px;
}

.intro {
    display: flex;
    align-items: center;
    height: 70%;
    justify-content: space-between;
    margin: auto 0;
}

.intro .left,.intro .right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.intro .left {
    gap: 15px;
    height: 100%;
}

.intro .right {
    align-items: center;
    background: rgba(119, 128, 142, 0.443);
    height: 100%;
    justify-content: center;
}

.intro .signup {
    background-color: steelblue;
    border: none;
    border-radius: 10%;
    width: 20%;
    padding: 5px;
    color: white;
}


.intro .title {
    font-size: 38px;
    font-weight: bold;
}


/* INFORMATION BLOCK */

.information {
    height: 300px;
}

.information .container {
    border: 1px solid red;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.information .title {
    color: #1F2937;
    font-weight: 800;
    font-size: 18px;
}

.box {
    border: 5px solid skyblue;
    width: 175px;
    height: 175px;
    border-radius: 1rem;
}

.boxes {
    display: flex;
}

.combo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
}

.combo .subtext {
    font-size: 12px;
    text-align: center;
    width: 50%;
} 





/* DESIGN */

.header, .footer {
    background: #1F2937;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

.logo {
    font-weight: 800;
    font-size: 32px;
}

.quote {
    background-color: #e5e7eb;
}
