* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

body > * {
    border: 1px solid black;
}

.header, .information, .quote, .cta, .footer {
    display: flex;
    justify-content: center;
}

.container {
    border: 1px solid yellow;
    width: 65%;

}

/* HEADER */

.header {
    height: 375px;
}

.header .container {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
}

.nav li {
    margin: 0 10px;
}

.intro {
    display: flex;
    align-items: center;
    height: 70%;
    justify-content: space-between;
    margin: auto 0;
}

.intro .left, .intro .right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.intro .left {
    gap: 15px;
    height: 100%;
}

.intro .right {
    align-items: center;
    background: rgba(119, 128, 142, 0.443);
    height: 100%;
    justify-content: center;
}

/* INFORMATION */

.information {
    height: 200px;
}

/*  */

.intro .signup {
    background-color: steelblue;
    border: none;
    border-radius: 10%;
    width: 20%;
    padding: 5px;
    color: white;
}


.intro .title {
    font-size: 38px;
    font-weight: bold;
}




.header, .footer {
    background: #1F2937;
    color: white;
}